name: InstallPack
'on':
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: get current date
        id: date
        run: echo "::set-output name=today::$(date +'%Y-%m-%d')"
      - name: create release
        id: create_release
        uses: GongT/actions-recreate-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          tag_name: v1.0.0
          release_name: v1.0.0.${{ steps.date.outputs.today }}
          draft: false
          prerelease: false
          body: ''
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: setup dotnet8
        uses: actions/setup-dotnet@v2
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          dotnet-version: 8.0.x
      - name: setup install
        run: sudo apt-get install binutils tar gzip
      - name: sed shell
        run: sed -i 's/\r$//' shells/publish-fpk.sh
      - name: chmod shell
        run: chmod +x shells/publish-fpk.sh
      - name: publish projects
        run: ./shells/publish-fpk.sh
      - name: upload-docker-fpk
        id: upload-docker-fpk
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./public/publish-fpk/docker/fnpackup-docker.fpk
          asset_name: fnpackup-docker.fpk
          asset_content_type: application/fpk
