name: InstallPack
'on':
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: setup dotnet8
        uses: actions/setup-dotnet@v2
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          dotnet-version: 8.0.x
      - name: setup install
        run: sudo apt-get install binutils tar gzip
      - name: sed shell
        run: sed -i 's/\r$//' shells/publish-fpk.sh
      - name: chmod shell
        run: chmod +x shells/publish-fpk.sh
      - name: publish projects
        run: ./shells/publish-fpk.sh
      - name: get latest release
        id: get_release
        run: |
          response=$(curl -s \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ACTIONS_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/releases/latest")
          upload_url=$(echo "$response" | jq -r '.upload_url')
          echo "upload_url=$upload_url" >> $GITHUB_OUTPUT
      - name: upload-docker-fpk-x64
        id: upload-docker-fpk-x64
        uses: actions/upload-release-asset@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_TOKEN }}
        with:
          upload_url: ${{ steps.get_release.outputs.upload_url }}
          asset_path: ./public/publish-fpk/docker/x64/linker-docker-x64.fpk
          asset_name: linker-docker-x64.fpk
          asset_content_type: application/fpk
